<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
      <p>Computer Programming Student.
        While I was studying Mechatronics Engineering in my country, I took courses such as "Software for Engineering" and "Microcontrollers" where I learned to program in Assembly and C. In addition, I opted to take electives related to programming and I was fascinated. That's when I decided this was my way to go.
        In 2021, after graduating, I decided to pursue a computer programming diploma in Canada.</p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned for new articles published every weekend.</p>
    </aside>
  </div>
</div>